@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /*fonts*/
    --font-family: 'Open Sans',
        sans-serif;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: #999999;


    /*general variables for font Weight*/
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;

    /*web variables to texts*/
    --situation: 14px;
    --name: 30px;
    --characteristics: 18px;

    /*gradient house colors for cards*/
    --Gryffindor: linear-gradient(to right, #FF0000, #FED482);
}