* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: var(--font-family)
}

input {
    font-family: var(--font-family);
    color: var(--color-tertiary);
    background-color: var(--color-fourth);
}

header {
    width: 50%;
    position: relative;
    left: 750px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}